[submodule "Labs/supertask"]
	path = Labs/supertask
	url = https://github.com/puchkovki/supertask
[submodule "Labs/Middletest"]
	path = Labs/Middletest
	url = https://github.com/puchkovki/Middle-test
[submodule "Labs/lab09"]
	path = Labs/lab09
	url = https://github.com/puchkovki/lab09
[submodule "Labs/lab08"]
	path = Labs/lab08
	url = https://github.com/puchkovki/lab08
[submodule "Labs/lab07"]
	path = Labs/lab07
	url = https://github.com/puchkovki/lab07
[submodule "Labs/lab10"]
	path = Labs/lab10
	url = https://github.com/puchkovki/lab10
[submodule "Labs/lab06"]
	path = Labs/lab06
	url = https://github.com/puchkovki/lab06
[submodule "Labs/lab05"]
	path = Labs/lab05
	url = https://github.com/puchkovki/lab05
[submodule "Labs/lab04"]
	path = Labs/lab04
	url = https://github.com/puchkovki/lab04
[submodule "Labs/lab03"]
	path = Labs/lab03
	url = https://github.com/puchkovki/lab03
[submodule "Labs/lab02"]
	path = Labs/lab02
	url = https://github.com/puchkovki/lab02
